.footer{
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.footer .footerContainer{
    display: grid;
    place-items: center;
}

.footer .marqueeContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 34px;
    width: 100vw;
}

.footer .footerFooter{
    width: 98%;
    display: flex;
    justify-content: space-between;
}

.footerFooter ul{
    list-style-type: none;
    display: flex;
}

.footerFooter ul li {
    margin: 5px 15px;
}